.vscode/**
.vscode-test/**
out/**
output/**
node_modules/**
bun.lock
tsconfig.json
webview/node_modules/**
webview/src/**
webview/.gitignore
webview/tsconfig.*
src/**
.gitignore
**/*.map
**/*.ts
*.vsix
**/.vscode-test.*
scripts/**
releases/**
tests/**
docs/**
assets/**
.claude/
AGENTS.md
features.md
